.board-container {
  max-width: 500px;
  margin: 0 auto;
}
.ant-page-header {
  padding: 10px 24px !important;
}

.btn-start {
  min-width: 336px;
  max-width: 336px;
  height: 40px;
  font-size: 14.6px;
  background-color: #0088ff;
  border-color: #0088ff;
  border-radius: 1px;
  color: white;
  border-style: none;
  cursor: pointer;
}
.btn-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}
.btn-start:hover {
  background-color: #3d9ffc;
}
article {
  padding: 20px;
}
article > .post > h2 {
  font-size: 32px;
}
.post {
  margin-top: 20px;
}
.post p {
  color: #2d2e30;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: #1890ff !important;
}
#kakao-link-btn {
  background-color: white !important;
}
